body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  font-size: 2.2rem;
}

.subheader {
  font-size: 1.6rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #c7254e;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.code {
  font-size: 90%;
  width: fit-content;
  margin-bottom: 4px;
  padding: 2px 4px;
  color: #c7254e;
  border-radius: 4px;
  background-color: #f9f2f4;
}
